[2015-06-19 14:18] dscho commented on #359
What about `_wchdir(L"C:/");`? And `_wchdir(L"C:/Windows/");`?

[2015-06-19 14:29] QbProg commented on #359
they work. Also _wchdir(L"C:/Windows") works because is not root

the problem is exactly that normalize_ntpath removes the trailing slash.

[2015-06-19 17:44] dscho commented on #359
@QbProg yep, so I just mixed up my 0s and 1s, right? Could you please test my patch again (which would maybe also handle cases such as `_wchdir(L"//server/")`, at least that is as general as I wanted the patch to be), with the 0 and the 1 properly adjusted, as per your analysis?

[2015-06-19 18:36] fake-name commented on #361
Well, in that case, you should probably point https://msysgit.github.io/ to the new installer. Lots of 3-rd party installers link to that page for "here is where you get git".

[2015-06-19 18:38] QbProg commented on #359
@dscho the patch with the 0 and 1 switched works!
I was not able to test a network path since I don't have a network here :)
Thank you!

[2015-06-19 19:08] dscho commented on #359
Thanks for testing! As to the network share, I will test that once I am done releasing 2.4.4.

[2015-06-19 19:10] dscho commented on #361
Git for Windows 2.x is not officially released, either. So redirecting as you suggested would be premature. But yes, we will do that eventually: https://github.com/git-for-windows/git/issues/12

[2015-06-20 08:48] dscho commented on #359
@QbProg I am busy working toward a 3rd release candidate of Git for Windows 2.x which will include this fix.

[2015-06-21 08:52] dscho commented on #359
@QbProg could you please test the new Git for Windows 2.4.4.2?

[2015-06-22 06:33] QbProg commented on #359
tested rc3 (git version 2.4.4.windows.2), it's fixed! thank you!

[2015-06-22 08:39] dscho commented on #359
Excellent!

[2015-06-22 08:39] #359 closed

[2015-06-25 08:11] Alexpux opened #362 "Using mingw-perl"
I'm not an expert in Perl so Ihave a question: what problems to get working git with native Win32 perl?

Also offtopic about https://github.com/git-for-windows/build-extra/blob/master/markdown
Why not use ````markdown```` provided by https://github.com/Alexpux/MINGW-packages/tree/master/mingw-w64-discount

Regards,
Alexey.

[2015-06-25 10:22] dscho commented on #362
Our most important user of Perl is `git-svn`, requiring the Subversion bindings. As soon as we have that for native Win32 Perl, there is no problem to switch to native Perl.

My `markdown` package predated yours, and I simply did not have the time to adjust `build-extra`: your `markdown` uses a less intuitive executable name, therefore adjustments are necessary before it will work.

[2015-06-25 10:23] dscho commented on #362
BTW you opened this ticket for the Git for Windows 1.x project (which does not use `build-extra`); did you mean to open it for [Git for Windows 2.x](https://github.com/git-for-windows/)?

[2015-06-25 10:25] Alexpux commented on #362
Yeah I mean Git4Win2

[2015-06-25 10:26] Alexpux commented on #362
Package "discount" provide ````markdown.exe```` executable.

[2015-06-25 23:49] rick-verint opened #363 "git rev-list crashes when --show-notes and --grep are specified"
I am trying to learn how notes work, and I don't have any notes in my system yet. While playing around with some commands, I found this bug. Git is from the latest, Git-1.9.5-preview20150319.exe. I am using Windows 7 64 bit.

$ git --version
git version 1.9.5.msysgit.1

$ git rev-list --show-notes --grep '.' HEAD
A
This application has requested the Runtime to terminate it in an unusual way.
Pleas

[2015-06-26 01:12] linquize commented on #363
same crash for linux git 2.4.4. Please report to git@vger.kernel.org

[2015-06-29 07:36] eckes commented on #320
As I understand the issue, it could be solved for `git submodule` by making it a builtin.
But I'm experiencing the same problems with filters configured with `.gitattributes`: I have a smudge/clean filter set up where the `clean` filter is a PERL script that does some prettyprinting of the code, the `smudge` filter is just a `cat`. Switching from one branch to another takes for ages with 2.4.4.win

[2015-06-30 13:09] saulovenancio commented on #287
I have the same probelm here.
That is the third windows installation that has this problem.
And there is not documentaiton on how to solve it.
Any help?

![image](https://cloud.githubusercontent.com/assets/493328/8431451/feb33580-1f0f-11e5-9690-72994d9e3463.png)

[2015-06-30 14:58] dscho commented on #287
@saulovenancio please try out the latest release candidate of [Git for Windows 2.x](https://git-for-windows.github.io/).

[2015-06-30 15:04] ashumeow commented on #235
[code]
This command doesn't work with perl <code>v.5.8.8</code>... It only works in perl versions that are above <code>5.10</code> onwards. :(

[2015-06-30 15:12] ashumeow commented on #235
And i would highly appreciate if this issue (https://github.com/msysgit/git/issues/235#issuecomment-117219802) is fixed into the next release of msysgit. =)

[2015-07-05 15:50] Dirk1966 commented on #235
As already said, installing a new perl in msysgit is damned difficult.  I would not do it, because "git for Windows 2" will provide you with perl 5.20 onwards.

Mixing the environments perl (for DOS/Windows), and msysgit will not work too, because of each component tries to do some workarounds for the different line endings from DOS/Windows to Unix - perl for DOS expects DOS endings - while msysgi

[2015-07-08 17:51] killerkalamari commented on #358
Is there any way I can help move a fix forward?

[2015-07-08 18:42] dscho commented on #358
Yes, you can. The first thing to test is whether [Git for Windows 2.x](https://git-for-windows.github.io/)' certificates include the one from Entrust that you need. If that works, I would suggest sticking with that version of Git for Windows (although I have no concrete ETA, it is the Git for Windows that I am working on these days).

If that *also* fails, I suspect that the Entrust certificates w

[2015-07-09 01:24] uecasm opened #364 "Git SVN crash"
This is probably similar to the remap errors that I get periodically, but now I'm getting the following, with no hint as to how to make it behave again:

    # git.exe svn fetch
    0 [main] perl.exe" 10724 sync_with_child: child 4256(0x1A4) died before initialization with status code 0xC0000005
    113 [main] perl.exe" 10724 sync_with_child: *** child state waiting for longjmp

It was working yes

[2015-07-09 02:30] uecasm commented on #364
And now even trying to run "Git Bash" is doing this:

      0 [main] us 0 init_cheap: VirtualAlloc pointer is null, Win32 error 487
    AllocationBase 0x68540000, BaseAddress 0x68570000, RegionSize 0xBD0000, State 0x2000
    c:\Program Files (x86)\git\bin\sh.exe: *** Couldn't reserve space for cygwin's heap, Win32 error 0

[2015-07-09 02:56] uecasm commented on #364
Trying different Git-1.9.x versions hasn't helped, but installing Git-2.x instead appears to have resolved this (after https://github.com/git-for-windows/git/issues/233).

[2015-07-09 06:39] dscho commented on #364
This looks like the old .dll base address problem. The safe solution is to switch to the 64-bit version of Git for Windows 2.x, indeed.

[2015-07-09 09:36] kenjiuno opened #365 "Git daemon and TortoiseGit"
I'm trying to have synchronized repositories between 2 Windows PCs. Git daemon seems to be simple and I'm trying it.

However it fails to clone.  Are there any known workarounds or such?

command line:
`git.exe clone --progress -v "git://192.168.xxx.xxx/xxx" "C:\Proj\xxx"`

git output using TortoiseGit:
[code]

msysgit  using command line:
[code]

[2015-07-09 10:35] dscho commented on #365
Is this not a duplicate of the issue described in https://github.com/msysgit/git/pull/70?

[2015-07-09 23:50] kenjiuno commented on #365
Exactly! I'll check #70 for further investigation. Thanks!

[2015-07-09 23:50] #365 closed

[2015-07-10 22:39] mahfoud14 opened #366 "fox"
read:repo_hook

[2015-07-11 08:22] #366 closed

[2015-07-15 09:10] #364 closed

[2015-07-19 15:51] Choonster opened #367 "Git Blame - file.dot is not a Word Document"
Git Version: 1.9.5.msysgit.0
OS: MINGW32_NT-6.2 (Git Bash on Windows 8.1 with MS Word 2013 installed)

Steps to reproduce:
[code]

Output from `git blame`:
[code]

It seems like Git is trying and failing to open the .dot file with Word, but opening it with Word directly works without issue.

[2015-07-22 10:40] dscho commented on #367
Umm. What you have there is *not* a Word document at all. It is a *[GraphViz](http://graphviz.org/)* file.

Our global [`gitattributes` file](https://github.com/msysgit/msysgit/blob/master/etc/gitattributes#L5) says that the Word helper should be used to visualize the file contents, hence the warning (which you could silence by creating a file `.git/info/attributes` inside your project's top-level

[2015-07-22 10:40] #367 closed

[2015-07-22 10:55] #358 closed

[2015-07-22 11:10] dscho commented on #357
Unfortunately, this report is missing way too many details to allow others to help.

[2015-07-22 11:10] #357 closed

[2015-07-22 11:27] Choonster commented on #367
I thought this was an issue/bug with Git or Git for Windows, hence the ticket rather than the question.

I realise that it's a GraphViz file rather than a Word document, but I wasn't aware that the error message was coming from Git's Word helper.

I encountered this behaviour through a third-party tool that reads the output of `git blame` and treats the message on stderr as an error. I'm not sure

[2015-07-22 14:57] killerkalamari commented on #358
Sorry, I became very busy and haven't had a chance to try what you suggested. Has this been resolved? If not, could you please give me more time to try your suggestions?

[2015-07-23 08:20] sheeeng opened #368 "Missing patch tool for release candidate of Git for Windows."
I installed [Git-2.4.6-5th-release-candidate-64-bit.exe](https://github.com/git-for-windows/git/releases) release.

However, I found out that `patch` tool is not available under its ` "$PROGRAMFILES"/Git/usr/bin/` directory.

Any possibility to add `patch` tool to the final release?

[2015-07-23 09:17] webmaster33 commented on #312
I have a similar case, which may belong here.
I wrote a search & replace perl script, which recursively searches
files and replaces text in them. After replace, it restores original
modification time (mtime) of file.

Interesting, that git status doesn't show replaced changes, if the
mtime is same as original.

Is there a way to force git status to show changes, even if the file
dates are the same

[2015-07-23 14:09] dscho commented on #368
The `patch` tool is not required for Git to function. If you want a fully-fledged command-line environment, you should stick to Cygwin, MSys2 or the Git SDK.

[2015-07-23 14:09] #368 closed

[2015-07-23 14:14] dscho commented on #312
By this "restoring" of the original modification time you broke the contract: the mtime should reflect the time of the latest change. You replaced something, i.e. changed the file contents. Git expects the mtime to be adjusted in that case. By painstakingly faking it back to its original value you essentially told Git: don't worry, this file has not changed since you last saw it.

There is nothing

[2015-07-23 14:21] dscho commented on #358
I gave [concrete advice](https://github.com/msysgit/git/issues/358#issuecomment-119693218) 15 days ago. Since there was deafening silence since then, I closed the ticket as "dead in the water".

[2015-07-23 17:20] PhilipOakley commented on #312
@webmaster33
The issue, as I see it, is that currently Git does not expect this behaviour, and as such has no special mechanism for a forced add of a filename, with an identical mtime (etc) stat but different content, to the staging area, such that when the next commit is made, the new sha1 hash, and content, is used.

I would not expect that Git would ever want to try and detect a content change,

[2015-07-23 19:29] prust commented on #290
I just ran into this as well (installer hangs on Win7). I confirmed what @ametad found: the culprit is the Windows antivirus software's Real-Time protection. I discovered that this was maxing out a core on my machine (had to "Show processes from all users" to see that). I did a full machine restart, which killed the process, then turned off the Real-Time protection, then the git installer came up

[2015-07-23 23:26] elecpic opened #369 "Custom mergetool cmd support in git GUI"
git GUI doesn't actually support custom mergetool cmd when providing the following .gitconfig:

[merge]
    tool = mymerge
[mergetool]
    cmd = mymerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"

Instead git-gui popups the error: "Unsupported merge tool 'mymerge'"

This post: http://stackoverflow.com/a/15984079 directed me to Git/share/git-gui/lib/mergetool.tcl where I fixed the issue in a w

[2015-07-24 01:11] YueLinHo commented on #312
My memo:
​git hash-object -w​
​git update-index --add --cacheinfo​
git write-tree
​git commit-tree​

From: [Chapter 10 of Pro Git 2 Book](https://git-scm.com/book/en/v2/Git-Internals-Git-Objects)

[2015-07-24 20:15] PhilipOakley commented on #312
My memo:
  ​git hash-object -w​
  ​git update-index --add --cacheinfo​
  git write-tree
  ​git commit-tree​

  From: Chapter 10 of Pro Git 2 Book

Thanks, that's useful.

Lets hope it helps the OP with the macro/script for the transfer from VSS... yeah.

Philip

[2015-07-27 12:41] dscho commented on #369
Please fork & clone https://github.com/msysgit/git, patch the problem, provide a proper commit message with sign-off and open a Pull Request.

[2015-07-28 21:34] FallenGameR commented on #356
Why 2.x is RC?
Release notes https://raw.githubusercontent.com/git/git/master/Documentation/RelNotes/2.5.0.txt don't mention that. Looks like a stable release.

[2015-07-29 01:46] nelson6e65 commented on #356
Check the latest pre-release in https://github.com/git-for-windows/git/releases:
[v2.4.6.windows.1](https://github.com/git-for-windows/git/tree/v2.4.6.windows.1) Fifth **release candidate** of Git for Windows

[2015-07-29 01:48] YueLinHo commented on #356
ATM, the latest git is 2.5.0, see [here](https://git-scm.com/).
There is a link for GfW in that page, and it links to 1.9.5. See [here](https://git-scm.com/download/win).
Also see the [Gfw Main page](https://msysgit.github.io/) (also 1.9.5).
So, latest release is 1.9.5.

There are some **Developer's Preview Releases**(for dev test) and **Release candidates**(for user test).

The first developer's

[2015-07-29 11:02] linquize commented on #356
For 2.5.0, @dscho has to solve the compilation problem, before 2.5.0 can be released.

[2015-07-29 13:28] dscho commented on #356
Yep, 2.5.0.windows.1 is coming. Indeed, I still need to address [this issue](https://github.com/git-for-windows/git/issues/257) first, but there is also [this issue](https://github.com/git-for-windows/git/issues/193). In general, if you want to know what is missing for a final release, it is a good idea to look at [the milestone](https://github.com/git-for-windows/git/milestones/First%20release%20

[2015-07-29 17:51] FallenGameR commented on #356
YueLinHo, thanks for explanation!
dscho, thanks for making 2.5 possible!
You guys rock. I will patiently wait for the new release =)

[2015-07-30 11:34] YueLinHo commented on #356
@FallenGameR Yor're welcome. And think you for reading my long long comment. ^_^

[2015-07-31 22:08] cy18 opened #370 "Git.exe is stuck if I run a wrong command."
I just installed windows 10 and Git-1.9.5-preview20150319 .

As long as I typed a wrong command, for example, if I typed git stt instead of git st, the process of git will stuck. It can not be killed by Process Explorer or taskkill command. Logging out current user do not work too. The only solution is rebooting the computer.

I just installed the previous release version Git-1.9.5-preview20141217

[2015-07-31 23:24] cy18 commented on #370
I have found

[2015-07-31 23:24] #370 closed

[2015-08-01 06:14] Dushyanthhk opened #371 "Not able to clone gerrit repo over https via gitbash(windows client)"
I was not able to clone git repository via https to git bash windows client. it shows authentication failure error. same error is not appeared if i try to clone on any Unix machines.

[2015-08-01 17:01] Dirk1966 commented on #371
May you please check, if the ssh-key is searched at the right position?  Because the environment variables HOMEDRIVE and HOMEPATH can be different from the environment variable USERPROFILE the ".ssh" path is sometimes searched in another position, perhaps even different to the git for Windows 1.95 version.
You can test it by connecting with an
    ssh -l UserName MachineName
and putting a valid ke

[2015-08-06 09:59] suburbanworrier commented on #310
I had this on a Windows 8.1 machine. Git Bash would start and almost instantly close when called from the context menu. I uninstalled and reinstalled with the simple (non cheetah) context menu option and all is now well.
HTH

[2015-08-06 10:08] dscho commented on #310
This issue unfortunately lacks enough information to do anything about it. It *might* be the famous DLL address problem (which would be addressed by [Git for Windows 2.x](https://git-for-windows.github.io/) anyway, which is intended to supersede msysgit-based Git for Windows 1.x).

So I am closing this issue, asking everybody who experiences this issue to try Git for Windows 2.x instead.

[2015-08-06 10:08] #310 closed

[2015-08-07 14:17] dscho commented on #371
What is the error? Please, give us a chance to help you. [Here](https://github.com/git-for-windows/git/wiki/Issue-reporting-guidelines) are a few tips how to write good bug reports.

[2015-08-10 09:41] nadiarebiai commented on #200
Hi,

Is there any solution for this problem ? I have the same issue on my Windows 7 with both 1.8.4 and last version (1.9.5) I already tried reinstalling many times. It doesn't change anything and I am unable to find any helpful actions on stackoverflow.

When trying $ git clone https://github.com/msysgit/git.git , I have the following error:
"The Instruction at 0x... referenced memory at 0x... Th

[2015-08-10 12:28] Dushyanthhk commented on #371
error pasted

duskrish@DUSKRISH-WS ~/repo_test
$ git clone https://duskrish@rtp-scm-lnx21.xxxxx.com:8081/Test2
Cloning into 'Test2'...
Password for 'https://duskrish@rtp-scm-lnx21.xxxxx.com:8081':
fatal: Authentication failed for 'https://duskrish@rtp-scm-lnx21.xxxxx.com:8081/Test2/'

The same thing if I try in any linux machine it shows a popup where I enter my password and it clones comfortably.

[2015-08-10 14:43] dscho commented on #371
While this does not really qualify for a good bug report (you might want to heed all of the advice from https://github.com/git-for-windows/git/wiki/Issue-reporting-guidelines, not just a couple of tid bits), you might be able to help yourself better by re-running the clone with `GIT_CURL_VERBOSE=1`.

[2015-08-10 15:30] dscho commented on #200
Could you test whether [Git for Windows 2.x' release candidate](https://git-for-windows.github.io/) fixes the problem?

[2015-08-11 08:30] nadiarebiai commented on #200
Hi,

I've re-installed 1.9.5 on a different folder, on a different drive (E:\ not C:\), deleted the gitconfig file on my personal folder, migrated all my git projects to that drive and it seems to work again...

So it seems to be some kind of permissions problem but I've already tested git commands on a project created on the E:\ drive when git was installed on C:\Program Files (x86)\Git and it wo

[2015-08-11 13:39] dscho commented on #200
My guess is that it is that infamous [DLL address range problem](https://github.com/git-for-windows/git/wiki/32-bit-issues).

In any case, since nobody seems to be interested in testing whether Git for Windows 2.x fixes the issue, I am closing this ticket, assuming that it does fix it (because I am not given any other choice).

[2015-08-11 13:39] #200 closed

[2015-08-14 15:00] dscho commented on #332
@orgads would you agree that this ticket is addressed?

[2015-08-14 15:03] dscho commented on #300
@avdyk when you have the time, please test whether the latest release candidate of [Git for Windows 2.x](https://git-for-windows.github.io/) fixes this. Its installer automatically calls `rebase.exe` in the way I suggested.

[2015-08-14 15:23] wchristian opened #372 "please add a release to announce the move of release downloads to the git-for-windows repo"
I was subscribed the to the release RSS feed here:

https://github.com/msysgit/git/releases.atom

Since those just stopped in March i never noticed that anything had changed until tortoisegit alerted me to the fact of the new repo being a thing.

Can you please add a dummy release pointing people using the RSS feed towards the following feed?

https://github.com/git-for-windows/git/releases.atom

[2015-08-14 16:03] dscho commented on #372
This should probably only be done once https://github.com/git-for-windows/git/issues/12 is addressed.

[2015-08-15 18:12] orgads commented on #332
Sure

[2015-08-15 18:12] #332 closed

[2015-08-18 04:52] williamneace19 opened #373 "danielle sue compton"

[2015-08-18 06:28] #373 closed

[2015-08-18 20:50] dscho commented on #356
This ticket is actually a duplicate of part of https://github.com/git-for-windows/git/issues/12 which I just closed.

[2015-08-18 20:50] #356 closed

[2015-08-19 15:43] dscho commented on #372
It has been addressed as part of git-for-windows/git#12.

[2015-08-19 15:43] #372 closed

[2015-08-19 15:44] dscho commented on #300
Closing this ticket in favor of Git for Windows 2.x (which is now officially released). Get it e.g. from https://git-scm.com/...

[2015-08-19 15:44] #300 closed

[2015-08-19 15:46] dscho commented on #371
Git for Windows 1.x is now deprecated; Please upgrade to [Git for Windows 2.x](https://git-for-windows.github.io/) and open a new ticket there if the bug persists. Thanks.

[2015-08-19 15:46] #371 closed

[2015-08-19 18:07] dscho commented on #290
Maybe this is no longer an issue, now that Git for Windows 1.x has been retired, and [Git for Windows 2.x](https://git-for-windows.github.io/)'s installers are signed?

In any case, I am closing this ticket. Please open a new one [in the new org](https://github.com/git-for-windows) if the bug persists even with 2.x.

[2015-08-19 18:07] #290 closed

[2015-08-19 18:13] dscho commented on #320
@eckes making `git submodule` a builtin is something that [is currently happening](http://thread.gmane.org/gmane.comp.version-control.git/276111). But that would not help the filter issue, not if those filter issues are also shell scripts. That latter issue *may* be solved by switching to [Git for Windows 2.x](https://git-for-windows.github.io/) (which you should do anyway because as of yesterday

[2015-08-19 18:13] #320 closed

[2015-08-19 18:43] wchristian commented on #372
Do you mean "has been patched, but not yet released"?

https://github.com/msysgit/git/releases.atom still contains no entry denoting any change, and merely changing the url on a website will not change the url people put into their rss readers.

[2015-08-19 21:28] mmcintyre123 commented on #316
This is so annoying as the sublime package GitGutter calls git.exe when saving files to run git diff I think, and whenever I save now the separate cli window flashes (opens then closes).  Sometimes it gets pretty slow too (cache build up?), which makes it harder to work.  I'm on Windows 7.  Any solution would be much appreciated!  See also https://github.com/jisaacks/GitGutter/issues/246

[2015-08-20 09:18] dscho commented on #316
I fear it is the same issue with [Git for Windows 2.x](https://git-for-windows.github.io/). Nevertheless, Git for Windows 1.x has beeb retired.

So: would you terribly mind to test again with the new version and [open a new bug report](http://git-for-windows.github.io/#contribute) if the bug persists? I promise to take better care there, especially if I get an [MCVE](http://stackoverflow.com/help/

[2015-08-20 10:57] dscho commented on #367
That is the correct solution. Git for Windows expects .dot files to be Word files by default, and you overrode the default. :+1:

[2015-08-20 13:05] dscho commented on #372
@wchristian how's this?

[2015-08-20 13:08] dscho commented on #316
In any case, I close this ticket because if we need any fix, it will be in the new Git for Windows.

[2015-08-20 13:08] #316 closed

[2015-08-20 13:12] linquize commented on #372
What's that animal in the retire notice?

[2015-08-20 14:25] dscho commented on #372
@linquize it is an attempt to quote [Douglas Adams' Hitchhikers' Guide to the Galaxy](https://en.wikipedia.org/wiki/So_Long,_and_Thanks_for_All_the_Fish).

[2015-08-20 14:49] wchristian commented on #372
That is adorable. Thank you. :D

[2015-08-20 14:57] mmcintyre123 commented on #316
Hi there!  No problem I'll open a new ticket there.  Thanks!

[2015-08-22 15:16] dscho commented on #363
Moved it to the mailing list myself.

[2015-08-22 15:16] #363 closed

[2015-08-22 15:21] dscho commented on #362
Closing here. Please also note that I had substantial trouble last time I tried to get native Perl to work, because we require the Subversion bindings in Perl for `git svn` to work...

[2015-08-22 15:21] #362 closed

[2015-08-22 15:25] dscho commented on #287
@saulovenancio you might also want to install the 64-bit version instead of the 32-bit version; That should make it much more unlikely for the bug to re-appear. However, if it does, please [open a new ticket with Git for Windows 2.x](https://git-for-windows.github.io/#contribute) (because that version retired Git for Windows 1.x).

[2015-08-22 15:25] #287 closed

[2015-08-22 15:27] #369 closed

[2015-08-22 15:54] dscho commented on #346
Okay, Git for Windows 2.x is out, and I really want to let Git for Windows 1.x enjoy its deserved retirement.

[2015-08-22 15:54] #346 closed

[2015-08-22 15:55] dscho commented on #182
This will be fixed in [Git for Windows 2.x](https://git-for-windows.github.io/) via https://github.com/git-for-windows/git/pull/305.

[2015-08-22 15:55] #182 closed

[2015-08-22 15:56] dscho commented on #351
Three months is a bit more than I usually wait for feedback.

[2015-08-22 15:56] #351 closed

[2015-08-22 15:59] dscho commented on #345
Hello... *tock, tock tock*, McFly, *tock, tock tock*, anybody home?

[2015-08-22 15:59] #345 closed

[2015-08-22 16:01] dscho commented on #343
Could you please switch to [Git for Windows 2.x](http://git-for-windows.github.io/) (msysGit-based Git is now retired) and try again? If the bug reoccurs, please [open a bug report there](http://git-for-windows.github.io/#contribute). Thank you.

[2015-08-22 16:01] #343 closed

[2015-08-22 16:02] dscho commented on #339
@baloo66 please note that a little quicker feedback would help to keep tickets alive, and to work toward their resolution.

[2015-08-22 16:02] #339 closed

[2015-08-22 16:10] dscho commented on #353
Did it work?

[2015-08-22 16:12] dscho commented on #338
That is expected. The unit tests should recapitulate the common setups, and on common setups the 8.3. file name support is enabled. I am sure you agree!

[2015-08-22 16:12] #338 closed

[2015-08-22 16:17] dscho commented on #333
@yamlfd do you have anything to show yet?

[2015-08-22 16:19] dscho commented on #325
@xtphty @mitsu333 please test with [Git for Windows 2.x](http://git-for-windows.github.io/) (which supersedes the project associated with this bug tracker). If the bug persists, please [open a ticket there](http://git-for-windows.github.io/#contribute). Thank you.

[2015-08-22 16:19] #325 closed

[2015-08-22 16:22] #324 closed

[2015-08-22 16:23] dscho commented on #329
I would have appreciated feedback.

[2015-08-22 16:23] #329 closed

[2015-08-22 16:23] dscho commented on #307
[Git for Windows 2.x](http://git-for-windows.github.io/) most likely fixes this problem.

[2015-08-22 16:23] #307 closed

[2015-08-22 16:29] #355 closed

[2015-08-22 16:46] dscho commented on #302
So I assume that things are fixed by our patches in [Git for Windows 2.x](http://git-for-windows.github.io/). Correct?

[2015-08-22 16:46] #302 closed

[2015-08-22 16:47] dscho commented on #315
@SimpleExpress if the problem persists with [Git for Windows 2.x](http://git-for-windows.github.io/), please open a new bug report there, according to our [issue reporting guidelines](https://github.com/git-for-windows/git/wiki/Issue-reporting-guidelines).

[2015-08-22 16:47] #315 closed

[2015-08-22 16:47] #319 closed

[2015-08-22 16:49] dscho commented on #282
@SoonDead @alexchandel please try again with [Git for Windows 2.x](http://git-for-windows.github.io/). If the problem persists, we will need an easy way to reproduce. Once you have that, please [open a new ticket](http://git-for-windows.github.io/#contribute) there.

[2015-08-22 16:49] #282 closed

[2015-08-22 16:52] dscho commented on #233
I am pretty certain that nobody took care of this so far. Nevertheless, Git for Windows 1.x was retired. If anybody has time to work on this, please test with [Git for Windows 2.x](http://git-for-windows.github.io/) and if the problem indeed still persists, open a Pull Request there with a fix. Kidding. You can [open a ticket](http://git-for-windows.github.io/#contribute) but please note that I wi

[2015-08-22 16:52] #233 closed

[2015-08-23 10:58] uecasm commented on #307
FWIW, GfW 2.x 32-bit still has this problem (although it appears to be less severe), but so far at least the 64-bit version seems ok.

[2015-08-23 11:15] yamlfd commented on #333
Had no time yet. Start if you have.

We still need to decide if we want to spend the time for rewriting the setup.

[2015-08-23 14:45] SoonDead commented on #282
Git for Windows 2.5 seems to be working fine with Windows Authentication.

Thanks for fixing this.

[2015-08-24 07:24] dscho commented on #282
Thanks for testing!

[2015-08-24 08:43] dscho commented on #333
I guess it is not such a critical thing, then.

[2015-08-24 08:43] #333 closed

[2015-08-24 08:44] dscho commented on #307
Please [open a Git for Windows 2.x ticket](http://git-for-windows.github.io/#contribute), then.

[2015-08-24 09:16] codejanovic commented on #259
my problems are gone with the latest version (2.5.0)

[2015-08-24 10:02] dscho commented on #259
@codejanovic Thank you for testing, and I appreciate very much that you reported back.

[2015-08-24 10:02] #259 closed

[2015-08-24 11:24] dscho commented on #54
@faqindeletethisalready please note that contributions are welcome. So if you want to see this issue fixed, please feel very free to follow the advice on [this page](https://github.com/git-for-windows/git/wiki/How-to-participate), pick up @hvoigt's patch, clean it up and submit a Pull Request.

[2015-08-24 11:24] #54 closed

[2015-08-24 11:25] #163 closed

[2015-08-24 11:25] #195 closed

[2015-08-24 11:27] dscho commented on #198
@lawrancej please note that Git for Windows 1.x was retired, and the `/share/WinGit/release.sh` script moved to https://github.com/git-for-windows/build-extra/blob/master/installer/release.sh (in case you haven't given up on this feature yet).

[2015-08-24 11:27] #198 closed

[2015-08-24 11:27] #201 closed

[2015-08-24 11:30] yamlfd commented on #333
It is!!! Keep the case open, please.

[2015-08-24 11:31] dscho commented on #206
Both stacktraces look like DLL range issues (which `rebase.exe` would fix) to me. Such problems should be fixed in [Git for Windows 2.x](http://git-for-windows.github.io/) which runs `rebase.exe` as part of the installation process.

Should the problem persist with Git for Windows 2.x, please follow [the advice on reporting issues there](http://git-for-windows.github.io/#contribute).

[2015-08-24 11:31] #206 closed

[2015-08-24 11:31] yamlfd commented on #333
The missing msi is a killer criteria. Until now i have not found sny way around git cmd.

[2015-08-24 11:33] dscho commented on #203
MSys2 comes with `man`, and as a consequence, you can install it using `pacman -Sy man` with the [Git for Windows SDK](http://git-for-windows.github.io/#download-sdk). Please note that it is no reason for joy, as active participation of the people in this thread could have brought about `man` much earlier.

[2015-08-24 11:33] #203 closed

[2015-08-24 11:35] #213 closed

[2015-08-24 11:39] dscho commented on #238
Hopefully this issue won't be a problem anymore, as [Git for Windows 2.x](http://git-for-windows.github.io/) adjusts the DLL ranges automatically as part of the installation process. Besides, the 64-bit version should be immune against this issue.

If not, please feel free to [contribute a new report](http://git-for-windows.github.io/#contribute), as Git for Windows 1.x was superseded by 2.x (and

[2015-08-24 11:39] #238 closed

[2015-08-24 11:40] dscho commented on #248
@hdansou feel free to fill us in on Citrix' answer.

[2015-08-24 11:40] #248 closed

[2015-08-24 11:41] dscho commented on #255
Could you please verify whether that is still an issue with [Git for Windows 2.x](http://git-for-windows.github.io/) and follow the instructions in the *Contribute* section of its home page if the bug still persists? Thank you.

[2015-08-24 11:41] #255 closed

[2015-08-24 12:34] #263 closed

[2015-08-24 12:51] dscho commented on #333
If it were, there would have been plenty of time (almost to the day five months) to prove it.

[2015-08-24 15:06] dscho commented on #265
@fffonion do you have time to work on resolving this issue?

[2015-08-24 15:07] dscho commented on #301
We switched to MSys2, and [Git for Windows 2.x](http://git-for-windows.github.io/) is out, superseding Git for Windows 1.x.

[2015-08-24 15:07] #301 closed

[2015-08-24 15:09] dscho commented on #295
@terrehbyte unfortunately, that does not fit in the maintenance scheme chosen for Git for Windows (neither msysGit-based 1.x nor MSys2-based 2.x). If you are interested enough to resolve this issue, please work with me by opening a Pull Request with [Git for Windows 2.x](http://git-for-windows.github.io/).

[2015-08-24 15:09] #295 closed

[2015-08-24 15:13] dscho commented on #309
@cicadanator it would be really good if you could investigate a little further. In https://github.com/git-for-windows/git/issues/128, we already figured out a work-around that *should* paper over the issue, but I still have no idea why it does not work when we try with delays 0 and 1 before trying with delay 5 (which issue convinces me that @vdbg's patch cannot work reliably). I would really appre

[2015-08-24 15:13] #309 closed

[2015-08-24 15:14] dscho commented on #308
As per http://superuser.com/a/865533 this was fixed in Git Cheetah as shipped with 1.9.2. Besides, with [Git for Windows 2.x](http://git-for-windows.github.io/), we do not even support Git Cheetah anymore. Closing.

[2015-08-24 15:14] #308 closed

[2015-08-24 15:15] dscho commented on #284
@patthoyts did you ever get anywhere with this ticket, or can I close it?

[2015-08-24 15:18] dscho commented on #305
@lxatong does this bug persist with [Git for Windows 2.x](http://git-for-windows.github.io/)? If yes, please contribute a new bug report in the new org, [as per our guidelines](http://git-for-windows.github.io/#contribute). Thank you.

[2015-08-24 15:18] #305 closed

[2015-08-24 15:20] dscho commented on #299
This is probably caused by a very long command line. As it happens, I took a contributed patch, cleaned it up and opened a new Pull Request: https://github.com/git-for-windows/git/pull/305

@hitsthings please feel free to test whether this Pull Request fixes your issues. I am moving the discussion there in any case.

[2015-08-24 15:20] #299 closed

[2015-08-24 15:31] martinheidegger commented on #301
:+1:

[2015-08-24 15:50] dscho commented on #297
Does this persist? I cannot reproduce. In any case, please switch to [Git for Windows 2.x](http://git-for-windows.github.io/); Git for Windows 1.x was retired a week ago.

[2015-08-24 15:50] #297 closed

[2015-08-24 15:52] dscho commented on #260
@frogonwheels would you terribly mind switching to [Git for Windows 2.x' SDK](http://git-for-windows.github.io/#download-sdk), rebase your branch, and open a Pull Request? Even if you think there is more work to be done; in that case, at least others can see your current state and help out.

[2015-08-24 15:52] #260 closed

[2015-08-24 16:04] najumancheril commented on #297
This problem has been fixed in 2.x. Thanks!

[2015-08-24 16:39] yamlfd commented on #333
If there would be a msi I would have no need to ask here. Until today I just refused installing git to the developers. It looks more and more no option.

[2015-08-24 17:36] kostix commented on #333
@yamlfd, you can take [`WiX`](http://wixtoolset.org/) (it's free) and create an MSI package that would include the original GfW package as a binary stream and make it be unpacked and run (with appropriate command-line options, if needed) at the installation phase -- MSI allows doing that.

You could also "preseed" the GfW Inno Setup installation packages using the `/SAVEINF` and `/LOADINF` command

[2015-08-24 20:35] hitsthings commented on #299
I'll have to take your word on what constitutes a large command line or large number of files. It sounds plausible.

The output I shared above shows what files were changed at the time I ran the command - 12 files including untracked.

Thanks for contributing!

[2015-08-24 21:08] NysItsFrgDougM commented on #355
Please re-open.

Yes, it's a subfolder of .git/refs/remotes/

On Windows NTFS:

1: Add a "Doug" remote and do a fetch.  the .git/refs/remotes/Doug folder is created.

2: Remote the "Doug" remote.  The ".git/refs/remotes/Doug" folder remains.

3: Add a new "doug" remote; a ".git/refs/remotes/doug" folder is not created, since NTFS treats it as ".git/refs/remotes/Doug"

4: User is now unable to fetc

[2015-08-24 21:53] dscho commented on #333
@yamlfd actions speak louder than words, so there was only one possible conclusion.

[2015-08-25 01:20] linquize commented on #333
`WiX` is an open-source solution of building MSI package.
the learning curve of `WiX` is higher, because you have to type a lot of XML tags

[2015-08-25 03:03] fffonion commented on #265
I'm now in a travel. Will work on this as soon as I'm back :)

[2015-08-25 06:37] dscho commented on #333
Ladies and gentlemen, sorry to break the news: talking about it won't get the job done. Correction: talking about it won't even get the job started. Now, I would suggest to either start cracking or retreating in silence and shame. :smiley:

[2015-08-25 07:07] yamlfd commented on #333
@Kostix: why do you think it is hard to implement with WiX? I only do WiX and this setup seems doable.

[2015-08-25 09:02] dscho commented on #333
@yamlfd will you please prove us all wrong by showing at least a *rudimentary* WiX configuration to build a Git for Windows .msi installer? You know that you do not convince anybody by continuing to merely talk...

[2015-08-25 09:33] dscho commented on #265
@fffonion okay. Please note that building Git Cheetah from source is now as easy as [installing the Git for Windows SDK](http://git-for-windows.github.io/#download-sdk), then cloning https://github.com/msysgit/Git-Cheetah/ and running `make` in the checkout.

I would also like to ask you to open a Pull Request (even when you get stuck and the topic branch is not yet ready to merge) in the Git Chee

[2015-08-25 09:33] #265 closed

[2015-08-25 09:38] dscho commented on #286
Please try again with [Git for Windows 2.x](http://git-for-windows.github.io/). If the problem persists, please ask at the forum/mailing list https://groups.google.com/forum/#!forum/git-for-windows (you might want to follow the advice given in https://github.com/git-for-windows/git/wiki/Issue-reporting-guidelines to give others a better chance to reproduce and help).

[2015-08-25 09:38] #286 closed

[2015-08-25 09:39] dscho commented on #242
I am just assuming that it is fixed by [Git for Windows 2.x](http://git-for-windows.github.io/) -- or that there is not enough interest to pursue a resolution.

[2015-08-25 09:39] #242 closed

[2015-08-25 09:50] dscho commented on #281
So essentially the ticket is resolved.

As to the question how a `DbgPrint` can crash the program, I guess it could be related to [Cygwin's Big List Of Dodgy Applications](https://cygwin.com/faq/faq.html#faq.using.bloda) that lists software installing hooks that can interfere with Cygwin's (and therefore MSys2's and therefore Git for Windows') POSIX emulation layer.

[2015-08-25 09:50] #281 closed

[2015-08-25 09:51] dscho commented on #277
Please test again with [Git for Windows 2.x](http://git-for-windows.github.io/) (which runs `rebase.exe` as part of its installation procedure). If you still encounter the issue, please [open a new ticket](http://git-for-windows.github.io/#contribute) because Git for Windows 1.x was retired.

[2015-08-25 09:51] #277 closed

[2015-08-25 09:53] dscho commented on #278
Closing here because Git for Windows 1.x is now obsolete. Please try again with [Git for Windows 2.x](http://git-for-windows.github.io/) and if the problem persists, please [open a new ticket with enough information to help others reproduce the problem](http://git-for-windows.github.io/#contribute).

[2015-08-25 09:53] #278 closed

[2015-08-25 10:03] dscho commented on #270
@Keepun I missed that you updated your very terse explanation. So now it looks as if your problem might be solved by extending

[code]

to

[code]

If that fixes your problem, please report back and I will integrate the patch into [Git for Windows 2.x](http://git-for-windows.github.io/).

[2015-08-25 10:03] #270 closed

[2015-08-25 10:50] dscho commented on #247
Symlink support was finally merged into [Git for Windows 2.x](http://git-for-windows.github.io/); Please note that you will have to activate the support specifically using `core.symlinks`:

[code]

[2015-08-25 10:50] #247 closed

[2015-08-25 11:19] kostix commented on #333
@yamlfd, the problem with WiX is that it's relatively simple for simple things (if very very verbose thanks to XML) like just installing a bunch of files, but for more complicated things like fixing up permissions and running programs at a post installation phase and handling "conditions" (which *is* needed for professional MSI packages which properly handle upgrades) working with WiX is an exerci

[2015-08-25 11:42] dscho commented on #266
I will take the silence as a sign for the good news that this ticket has magically dissolved.

[2015-08-25 11:42] #266 closed

[2015-08-25 11:53] dscho commented on #271
@gkodinov [Git for Windows 2.x](http://git-for-windows.github.io/) ships with `Net/SMTP/SSL.pm`. Would you please test with the new version that supersedes Git for Windows 1.x?

[2015-08-25 11:53] #271 closed

[2015-08-25 11:55] dscho commented on #275
I'll just assume that switching to [Git for Windows 2.x](http://git-for-windows.github.io/) solved the problem.

[2015-08-25 11:55] #275 closed

[2015-08-25 11:57] dscho commented on #280
Silence is good. Silence means the bug was resolved. Or so I want to believe. Not much evidence to the contrary, at least :stuck_out_tongue_winking_eye:

[2015-08-25 11:57] #280 closed

[2015-08-26 12:54] dscho commented on #284
Let's reopen it in https://github.com/git-for-windows/git/issues when (or if) this is still being worked on.

[2015-08-26 12:54] #284 closed

[2015-08-26 12:54] #353 closed

[2015-08-27 21:10] dscho commented on #355
You sure took your time to respond.

Now that the symptom is established, it is also clear that this is a case-insensitive file system issue, i.e. a bug in upstream Git. Please report it on the Git mailing list: git@vger.kernel.org

[2015-09-01 00:33] vitaut opened #376 "Filename too long when cloning a repo"
Here's an example that reproduces the error:

[code]

[2015-09-01 06:26] dscho commented on #376
This is a known issue that is [mentioned in the Release Notes along with its resolution](https://github.com/git-for-windows/build-extra/blob/master/installer/ReleaseNotes.md#known-issues):

* Many Windows programs (including the Windows Explorer) have problems with directory trees nested so deeply that the absolute path is longer than 260 characters. Therefore, Git for Windows refuses to check out

[2015-09-01 06:26] #376 closed

[2015-09-01 06:27] dscho commented on #376
Oh, and please note that you posted the issue in the wrong place: Git for Windows 1.x (based on msysGit) is now obsolete, [Git for Windows 2.x](http://git-for-windows.github.io/) superseded it.

[2015-09-01 16:33] vitaut commented on #376
Sorry for the wrong bug tracker. I've opened another issue (https://github.com/git-for-windows/git/issues/342) as I get the same error even with `core.longPaths=true`. Thanks!

[2015-10-01 11:38] avdyk commented on #300
I'm sorry, I don't use Windows any more ;-)

[2015-10-01 13:44] gkodinov commented on #271
Yep, I can confirm it works now.

[2015-12-26 10:05] de-facto opened #379 "Cannot Create Shortcut, Cannot Find App, Cannot Open App"
At the risk of receiving a good verbal drubbing, the issue is that, having downloaded and installed msysGit 1.9.5 Preview20150319.exe, it ceased to work after two days. The Desktop icon disappeared, but the app appeared to exist, from the Windows File icon and the label that read 'msysGit'. I attempted to open the app, there was a quick flash of the command prompt then - nothing.

I removed all th

[2015-12-29 15:33] dscho commented on #379
I guess that you are not really looking for msysGit (which is the now-retired development environment that developers used to develop *Git for Windows*), but rather for [Git for Windows](https://git-for-windows.github.io/) itself? I would gladly welcome you as new contributor, of course, but something tells me that you only want to *use* Git, not to *develop* it. Correct?

[2015-12-29 17:24] de-facto commented on #379
Hello Johannes,
thank you for your reply. I recently (yesterday) established that I should be using Git for Windows, which I have now installed - it works as expected.
You are correct - l require the Linux-style command line for convenience. I would like to learn Git and contribute to the tremendous work you and your community are able to do, but I do not know much about Git, other than downloadin

[2016-02-10 18:32] crutchcorn commented on #200
Having this issue on git version 2.5.0.windows.1

[2016-05-21 12:48] #379 closed

[2017-02-24 16:38] theroller commented on #200
also having this issue with git version 2.11.0.windows.1 on Win7

[2017-06-01 13:15] VisualBean commented on #200
I am having this issue on 2.11.0.windows.3 on win7

[2017-06-01 14:20] dscho commented on #200
You are 1) a couple of versions behind, and 2) on the wrong bug tracker ([here](https://github.com/git-for-windows/git/issues) is the bug tracker for Git for Windows 2.x).